<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>application-identifier</key><string>D73NABXNPY.com.raulmar.respiraMty</string><key>beta-reports-active</key><true/><key>com.apple.developer.team-identifier</key><string>D73NABXNPY</string><key>get-task-allow</key><false/></dict></plist>
